body {
  font-family: "Arial", "serif";
  font-size: small;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  display:  inline-block;
  padding-left: 15px;
  vertical-align: middle
}
.logo {
  position: relative;
  width: 272px;
  height: 92px;
  padding-top: 180px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#box {
  position: relative;
  width: 543px;
  height: 38px;
  border: solid 1px #dcdcdc;
  margin: 20px;
  font-size: 1em;
}
#box:hover {
  border: solid 1px #c6c6c6;
}
#box:focus {
  border: solid 1px #4285f4;
  outline: 0;
}
#s-i-b {
  color: white;
  background-color: #4285f4;
  border: none;
  padding: 8px 12px 8px 12px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 27px;
}
.search input[type="button"]{
  color: #666;
  background-color: #f2f2f2;
  border: none;
  border-radius: 2px;
  padding: 12px 18px 12px 18px;
  margin: 5px;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #ffffff;
}
.search input[type="button"]:hover {
  color: black;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
}
.search input[type="button"]:focus {
  color: black;
  background-color: #f8f8f8;
  border: 1px solid #4285f4;
  outline: 0;
}
.navbar {
  float: right;
  padding: 0;
  margin: 0;
  top: -50px;
}
.navbar a {
  color: #000;
}
.footer {
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  margin-left: -27px;
  padding-right: 35px;
}
.footer a {
  color: #666;
}
.footer-left {
  float: left;
}
.footer-right{
  float: right;
}
